
@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Publish", new { publish=1 })"><img src="~/Images/Post.png" alt="Post" /></a>
<a href="@Url.Action("Publish", new { publish=2 })"><img src="~/Images/postLinkedin.png" alt="Post" /></a>
<h2>@ViewBag.Facebook  Posted to Facebook</h2>
<h2>@ViewBag.LinkedIn  Posted to LinkedIn</h2>