
@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Publish", new { publish=1 })"><img src="~/Images/Post.png" alt="Post" /></a>
<a href="@Url.Action("Publish", new { publish=2 })"><img src="~/Images/Post.png" alt="Post" /></a>
<h2>Publish  @ViewBag.Status </h2>